<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<ul class="nav flex-column">
	<li class="nav-item"><a class="nav-link"
		th:href="@{/admin/torneos}">TORNEOS</a></li>
	<li class="nav-item"><a class="nav-link" href="#">RESULTADOS</a></li>
	<li class="nav-item"><a class="nav-link disabled" href="#"
		tabindex="-1" aria-disabled="true">FIXTURE FECHA</a></li>
	<li class="nav-item"><a class="nav-link disabled" href="#"
		tabindex="-1" aria-disabled="true">NOVEDADES</a></li>
	<li class="nav-item"><a class="nav-link disabled" href="#"
		tabindex="-1" aria-disabled="true">PERFIL</a></li>
	<li class="nav-item"><a class="nav-link" href="#">CERRAR
			SESIÓN</a></li>
</ul>