<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="col-12 back">
	<div class="row">
		<div class="col-2">
			<img alt="" th:src="@{/img/jugador.png}" class="jugador">
		</div>
		<div class="col-8">
			<div class="row pb-4">
				<h1 align="center" class="titulo">POLIDEPORTIVO LA AMISTAD</h1>
				<h4 align="center" class="subtitulo">Campeonatos de fútbol
					amateur</h4>
			</div>
			<div class="row pb-2 padding-nav">
				<div class="border">
					<nav class="navbar bg-transparent justify-content-md-center">
						<a class="nav-item nav-link active" href="#">INICIO</a> <a
							class="nav-item nav-link" href="#">LIBRE A</a> <a
							class="nav-item nav-link" href="#">LIBRE B</a> <a
							class="nav-item nav-link" href="#">VETERANO</a> <a
							class="nav-item nav-link" href="#">MAXI SENIOR</a> <a
							class="nav-item nav-link" href="#">SUPER MAXI</a>
					</nav>
				</div>
			</div>
		</div>
		<div class="col-2">
			<img alt="" th:src="@{/img/pelota.png}" class="pelota">
		</div>
	</div>
</div>